h1 {
        color: #373BAE;
}
.container{
        max-width: 500px;
        margin: 0 auto;
}
.images{
        display: block;
        margin: 0 auto;
}
.text{
        text-transform: uppercase;
}
#zoo{
        color: blue;
}
